<h2>Edit ticket</h2>

<%= form_for([@project, @project.tickets.build]) do |f| %>
 
<p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :priority %><br>
    <%= f.select :priority, ['Low', 'Normal', 'High', 'Expert', 'Master'] %>
  </p>
  <p>
    <%= f.label :difficulty %><br>
    <%= f.select :difficulty, ['Easy', 'Medium', 'Hard']%>
  </p>
  <p>
    <%= f.label :status %>(opened/closed/canceled)<br>
    <%= f.select :status, ['Open', 'Closed', 'Canceled'] %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>