<%= link_to 'New ticket', new_project_ticket_path %>
<h2>Tickets</h2>
<table border="1">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Priority</th>
    <th>Difficulty</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
 
  <% @project.tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.title %></td>
      <td><%= ticket.description %></td>
      <td><%= ticket.priority %></td>
      <td><%= ticket.difficulty %></td>
      <td><%= ticket.status %></td>
      <td><%= link_to 'Edit', edit_project_ticket_path(@project, ticket) %></td>
      <td><%= link_to 'Destroy', project_ticket_path(@project, ticket), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

