<h2>Update ticket</h2>

<%= form_for([@project, @ticket]) do |f| %>
 
<p>
    <%= f.label :title %><br>
  <%= @ticket.title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= @ticket.description %>
  </p>
  <p>
    <%= f.label :priority %><br>
    <%= @ticket.priority %>
  </p>
  <p>
    <%= f.label :difficulty %><br>
    <%= @ticket.difficulty %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= @ticket.status %>
  </p>
<% end %>

<%= link_to 'Back', project_tickets_path %>